.map-image{
    position: relative;
  
}
.map-btn{
position: absolute;
top: 50%;
left: 50%;
}
.view-map{
padding: 10px  10px 10px 10px;
font-size: 22px;
}
.map-images{
    width: 100%;
    height: 700px;
}
@media only screen and (max-width: 768px) {
    .view-map{
        padding: 10px  10px 10px 10px;
        font-size: 15px;
        }
        .map-images{
            width: 100%;
            height: 600px;
        }
  }
@media only screen and (max-width: 600px) {
    .view-map{
        padding: 10px  10px 10px 10px;
        font-size: 15px;
        }
        .map-images{
            width: 100%;
            height: 200px;
        }
  }