.blur {
 
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.details-imgs{
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 600px) { 
  .details-imgs{
    width: 100%;
    height: 250px;
  }
}